
@media (min-width: 2560px) {  

    body {
        background-color: rgb(250, 250, 244);
    }
    
    /*begin navbar*/
    .navbar {
        width: 100% /*73.5%*/;
        max-width: 100%;
        margin: 0 auto;
        background-color: rgb(228, 206, 228)!important;
        
    }
    
    .nav-item {
        padding: 2px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 2rem !important;
            
    }
    
    .navbar-nav {
        margin: 0 auto;
        
    } 
    
    .navbar li {
        padding-right: 25px !important;
    }
    
    /*end navbar*/
    
    
    .header {
        /*background-image: url("images_final/goldenrod.png");*/
        /*background-color: rgb(250, 250, 151);*/
        background-color: #fad2fa;
    }
    


    .cover_image {
        max-width: 100%;
        height: auto;
        position: relative;
        top: -300px;
    }
    
    .logo {
        z-index: 1;
        position: relative;
        top: 200px !important;
        width: 15%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        opacity: .8;
    }

    /*begin div that holds all main content on page*/

 .main_container {
     position: relative;
     top: -220px;
 }   

    /*begin styling of opening tagline*/

    .main_tagline {
        text-align: center;
        margin-top: 50px;
    }
    
    .see_a_design {
        font-family: 'Satisfy', cursive;
        
    }
    
    .see_a_design h1 {
        font-size: 5rem !important;
    
    }
    
    .see_a_design_line {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .each_cake {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .each_cake h1 {
        font-size: 2rem !important;
    }
    
    .click_here {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .click_here h1 {
        font-size: 1.5rem !important;
    
    }
    
    
    /*.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 100%;
        
    }*/
    
    
    .row {
        margin-left: 100px;
        margin-top: 50px;
    }
    
    .col-sm-3  {
       position: relative;
       left: 100px !important;
    
    }

    .col-sm-4  {
        position: relative;
        left: 200px !important;
     
     }
    
     /*begin styling of category labels of cakes*/
    .category {
        text-align: center;
        padding-top: 75px;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 30px;
    }
    
    .category h1 {
        font-size: 4.5rem;
        text-shadow: 1px 1px 2px grey;
    }
    
    #any {
        margin-top: 75px;
    }

    #school {
        margin-top: 75px;
    }

    #cupcakes {
        margin-top: 75px;
    }

    #birthdays {
        margin-top: 75px;
    }

    #bar {
        margin-top: 75px;
    }

    #weddings {
        margin-top: 75px;
    }
    /*end styling of categories of cakes*/

    .card {
        width: 18rem;
        margin-top: 25px;
        display: inline-block;
    }  

    
    
    /*styling individual cards*/
    .card-title  h5{
        font-family: 'Ledger', serif;
    
    }
    
    .card-body {
        font-family: 'Ledger', serif;
        text-align: center;
        font-style: italic;
    
    }
    /*end of styling individual cards*/
    
    
    .card-img-top {
        
    }
    
    
    
    /*styling individual images*/
    
    #wedding {
        /*margin-top: 50px;*/
    }
    
    #sunny_cupcakes {
        border-radius: 50%;
    }
    
    #plated_cupcakes {
        border-radius: 50%;
    }
    
    #multi_cupcakes {
        border-radius: 50%;
    }
    
    
    /*styling footer/section after gallery*/
    
    .return_to_top  {
        position: relative;
        top: 125px;
        text-align: center;
    }
         
    .footer {
        text-align: center;
        position: relative;
        top: 200px;
        background-color: rgb(151, 151, 231);
        opacity: .7;
        padding: 2px;
        color: white;
                
    }
    
    .footer h1 {
        font-size: 1.2rem;
    }

}

/*START HERE TO COVER UP PURPLE IN HEADER AND TO MOVE COVER IMAGE HIGHER UP!*/
@media all and (min-width: 1920px) and (max-width: 2558px) {

    body {
        background-color: rgb(250, 250, 244);
    }
    
.entire_document {
    position: relative;
    top: 75px;
}

    /*begin navbar*/
    .navbar {
        width: 100% /*73.5%*/;
        max-width: 100%;
        margin: 0 auto;
        background-color: rgb(228, 206, 228)!important;
        
    }
    
    .nav-item {
        padding: 2px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1.3rem !important;
            
    }
    
    .navbar-nav {
        margin: 0 auto;
        
    } 
    
    .navbar li {
        padding-right: 25px !important;
    }
    
    /*end navbar*/
    
    
    .header {
        /*background-image: url("images_final/goldenrod.png");*/
        /*background-color: rgb(250, 250, 151);*/
        background-color: ivory !important;
        z-index: 1;
    }
    
    .cover_image {
        max-width: 100%;
        width: 100%;
        height: auto;
        position: relative;
        top: -525px !important;
    }
    
    .logo {
        max-width: 30% !important;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -70px !important;
        z-index: 1;
        opacity: .8;
                
    }

    .main_container {
        position: relative;
        top: -475px !important;
    }

    /*begin styling of opening tagline*/
    
    .main_tagline {
        text-align: center;
        margin-top: 50px;
    }
    
    .see_a_design {
        font-family: 'Satisfy', cursive;
        
    }
    
    .see_a_design h1 {
        font-size: 4rem !important;
    
    }
    
    .see_a_design_line {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .each_cake {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .each_cake h1 {
        font-size: 2rem !important;
    }
    
    .click_here {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .click_here h1 {
        font-size: 1.5rem !important;
    
    }
    
    
    /*.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 100%;
        
    }*/
    
    
    .row {
        margin-left: 100px;
        margin-top: 50px;
    }
    
    .col-sm-3  {
       position: relative;
       left: 50px !important;
             
    }

    .col-sm-4 {
        position: relative;
        left: 100px;
    }
    
    .category {
        text-align: center;
        padding-top: 75px;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 30px;
    }
    
    .category h1 {
        font-size: 3.5rem;
        text-shadow: 1px 1px 2px grey;
    }

    #any {
        margin-top: 60px;
    }
    
    #school {
        margin-top: 60px;
    }
    
    #cupcakes {
        margin-top: 60px;
    }
    
    #birthdays {
        margin-top: 60px;
    }
    
    #bar {
        margin-top: 60px;
    }
    
    #weddings {
        margin-top: 60px;
    }
    
    .card {
        width: 18rem;
        margin-top: 25px;
        display: inline-block;
    }
    
    /*styling individual cards*/
    .card-title  h5{
        font-family: 'Ledger', serif;
    
    }
    
    .card-body {
        font-family: 'Ledger', serif;
        text-align: center;
        font-style: italic;
    
    }
    /*end of styling individual cards*/
    
    
    .card-img-top {
        
    }
    
    
    
    /*styling individual images*/
    
    #wedding {
        /*margin-top: 50px;*/
    }
    
    #sunny_cupcakes {
        border-radius: 50%;
    }
    
    #plated_cupcakes {
        border-radius: 50%;
    }
    
    #multi_cupcakes {
        border-radius: 50%;
    }
    
    
    /*styling footer/section after gallery*/
    
    .return_to_top  {
        position: relative;
        top: 125px;
        text-align: center;
    }
         
    .footer {
        text-align: center;
        position: relative;
        top: 200px;
        background-color: rgb(151, 151, 231);
        opacity: .7;
        padding: 2px;
        color: white;
                
    }
    
    .footer h1 {
        font-size: 1.2rem;
    }

}


@media all and (min-width: 2559px) {

    body {
        background-color: rgb(250, 250, 244);
    }
    
.entire_document {
    position: relative;
    top: 75px;
}

    /*begin navbar*/
    .navbar {
        width: 100% /*73.5%*/;
        max-width: 100%;
        margin: 0 auto;
        background-color: rgb(228, 206, 228)!important;
        
    }
    
    .nav-item {
        padding: 2px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1.3rem !important;
            
    }
    
    .navbar-nav {
        margin: 0 auto;
        
    } 
    
    .navbar li {
        padding-right: 25px !important;
    }
    
    /*end navbar*/
    
    
    .header {
        /*background-image: url("images_final/goldenrod.png");*/
        /*background-color: rgb(250, 250, 151);*/
        background-color: ivory !important;
        z-index: 1;
    }
    
    .cover_image {
        max-width: 100%;
        width: 100%;
        height: auto;
        position: relative;
        top: -673px !important;
    }
    
    .logo {
        max-width: 100% !important;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -70px !important;
        z-index: 1;
        opacity: .8;
                
    }

    .main_container {
        position: relative;
        top: -475px !important;
    }

    .navbar-toggler {
        font-size: 3rem !important;
    }

}


@media all and (min-width: 1224px) and (max-width:1600px) {

body {
    background-color: ivory;
}

/*begin navbar*/
.navbar {
    width: 100% /*73.5%*/;
    margin: 0 auto;
    
}

.nav-item {
    padding: 2px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.2rem;
        
}

.navbar-nav {
    margin: 0 auto;
    
} 

.navbar li {
    padding-right: 25px !important;
}

/*end navbar*/


.header {
    background-image: url("images_final/background_cupcakes_two.png");
    height: 400px;
    background-size: cover;
    /*background-color: rgb(250, 250, 151);*/
    /*background-color: #fad2fa;*/
}

.cover_image {
    display: none;
    max-width: 100%;
    height: auto;
    position: relative;
    top: -250px;
    z-index: -1;
}

.logo {
    max-width: 100%;
    width: 25% !important;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    top: 50px !important;
    opacity: .8;
}

/*begin styling of opening tagline*/

.main_container {
    position: relative !important;
    top: 50px !important;
}

.main_tagline {
    text-align: center;
    margin-top: 50px;
}

.see_a_design {
    font-family: 'Satisfy', cursive;
    
}

.see_a_design h1 {
    font-size: 4rem !important;

}

.see_a_design_line {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 25px;
}

.each_cake {
    font-family: 'Ledger', serif;
    margin-top: 25px;
}

.each_cake h1 {
    font-size: 2rem !important;
}

.click_here {
    font-family: 'Ledger', serif;
    margin-top: 25px;
}

.click_here h1 {
    font-size: 1.5rem !important;

}


/*.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    
}*/


.row {
    margin-left: 100px;
    margin-top: 50px;
}

.col-sm-3  {
   position: relative;
   left: 50px !important;
   margin-top: 75px;
   
       
}

.col-sm-4  {
    position: relative;
    left: 125px !important;
    
        
 }

.category {
    text-align: center;
    padding-top: 75px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 30px;
}

.category h1 {
    font-size: 3rem !important;
    opacity: .8;
    text-shadow: 1px 1px 2px grey;
}

#any {
    margin-top: 60px;
}

#school {
    margin-top: 60px;
}

#cupcakes {
    margin-top: 60px;
}

#birthdays {
    margin-top: 60px;
}

#bar {
    margin-top: 60px;
}

#weddings {
    margin-top: 60px;
}

.card {
    width: 18rem;
    margin-top: 25px;
    display: inline-block;
    
}

/*styling individual cards*/

.card-title {
    font-size: 1.1rem;
        
}

}
.card-title  h5{
    font-family: 'Ledger', serif;
        
}

.card-body {
    font-family: 'Ledger', serif;
    text-align: center;
    font-style: italic;

}
/*end of styling individual cards*/


.card-img-top {
        transition: transform .4s; /* Animation */
        /*background-color: ivory;*/
    }
    
    .card-img-top:hover {
        transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }        

/*styling individual images*/

#three_tier_flower {
    max-width: 85%;
    margin-left: 15px;
}

#sunflowers {
    margin-left: 35px;
    
}

#two_tier_anniv {
    margin-left: 35px;
    
}

#three_tier {
    margin-left: 35px;
    
}

#four-tier {
    margin-left: -10px;
    
}

#wedding {
    /*margin-top: 50px;*/
}

#sunny_cupcakes {
    border-radius: 50%;
    margin-left: 30px;
}

#plated_cupcakes {
    border-radius: 50%;
    margin-left: 30px;
}

#multi_cupcakes {
    border-radius: 50%;
    margin-left: 30px;
    width: 100%;
}




/*styling footer/section after gallery*/

.return_to_top  {
    position: relative;
    top: 125px;
    text-align: center;
}
     
.footer {
    text-align: center;
    position: relative;
    top: 200px;
    background-color: rgb(151, 151, 231);
    opacity: .7;
    padding: 2px;
    color: white;
            
}

.footer h1 {
    font-size: 1.2rem;
}

/*end styling after footer/section after gallery*/
}




/*for ipad*/
@media all and (min-width:768px) and (max-width: 1023px) { 

    body {
        background-color: ivory;
    }

      
  /*begin navbar*/
    .navbar {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        
    }
    
    .nav-item {
        padding: 2px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1.2rem;
            
    }
    
    .navbar-nav {
        margin: 0 auto;
        
    } 
    
    .navbar li {
        padding-right: 25px !important;
    }
    
    /*end navbar*/
    
         
    .cover_image {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    
    .logo {
        max-width: 70%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    /*begin styling of opening tagline*/
    
    .main_tagline {
        text-align: center;
        margin-top: 50px;
    }
    
    .see_a_design {
        font-family: 'Satisfy', cursive;
        
    }
    
    .see_a_design h1 {
        font-size: 4rem;
    
    }
    
    .see_a_design_line {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .each_cake {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .each_cake h1 {
        font-size: 2rem;
    }
    
    .click_here {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .click_here h1 {
        font-size: 1.5rem;
    
    }
    
    .mobile_back_to_top {
        position: relative;
        top: 50px;
        text-align: center;
    }

    /*.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 100%;
        
    }*/
    
    
    .row {
        margin-left: 100px;
        margin-top: 50px;
    }
    
    .col-sm-3  {
       position: relative;
       left: -65px !important;
       
        
    }
    
    .category {
        text-align: center;
        padding-top: 75px;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 30px;
    }
    
    .category h1 {
        font-size: 3.5rem;
    }
    
    .card {
        width: 10rem;
        margin-top: 25px;
        display: inline-block;
    }
    
    /*styling individual cards*/
    .card-title  h5{
        font-family: 'Ledger', serif;
    
    }
    
    .card-body {
        font-family: 'Ledger', serif;
        text-align: center;
        font-style: italic;
    
    }
    /*end of styling individual cards*/
    
    
    .card-img-top {
        
    }
    
    
    
    /*styling individual images*/
    
    #wedding {
        /*margin-top: 50px;*/
    }
    
    #sunny_cupcakes {
        border-radius: 50%;
    }
    
    #plated_cupcakes {
        border-radius: 50%;
    }
    
    #multi_cupcakes {
        border-radius: 50%;
    }
    
    
    /*styling footer/section after gallery*/
    
    .return_to_top  {
        position: relative;
        top: 125px;
        text-align: center;
    }
         
    .footer {
        text-align: center;
        position: relative;
        top: 200px;
        background-color: rgb(151, 151, 231);
        opacity: .7;
        padding: 2px;
        color: white;
                
    }
    
    .footer h1 {
        font-size: 1.2rem;
    }
    
}
    


@media all and (max-width: 320px) {  

    body {
        background-color: rgb(250, 250, 244);
    }
    
    /*begin navbar*/
    .navbar {
        width: 100% /*73.5%*/;
        margin: 0 auto;
               
    }
    
    .nav-item {
        padding: 2px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1.2rem;
            
    }
    
    .navbar-nav {
        margin: 0 auto;
        
    } 
    
    .navbar li {
        padding-right: 25px !important;
    }
    
    .bg-primary  {
        background-color: ivory !important;
    }
    /*end navbar*/
    
    
    .header {
        /*background-image: url("images_final/goldenrod.png");*/
        /*background-color: rgb(250, 250, 151);*/
        background-color: #fad2fa;
    }
    
    .cover_image {
        max-width: 100%;
        height: auto;
    }
    
    .logo {
        max-width: 100%;
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    /*begin styling of opening tagline*/
    
    .main_tagline {
        text-align: center;
        margin-top: 50px;
    }
    
    .see_a_design {
        font-family: 'Satisfy', cursive;
        
    }
    
    .see_a_design h1 {
        font-size: 2rem;
    
    }
    
    .see_a_design_line {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .each_cake {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .each_cake h1 {
        font-size: 1.25rem;
    }
    
    .click_here {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .click_here h1 {
        font-size: 1rem;
    
    }
    
    .mobile_back_to_top {
        position: relative;
        top: 50px;
        text-align: center;
    }
    /*.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 100%;
        
    }*/
    
    
    .row {
        margin-left: 10px;
        margin-top: 0px;
    }
    
    /*.col-sm-3  {
       position: relative;
       left: -65px !important;
              
    }*/
    
    .category {
        text-align: center;
        padding-top: 75px;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 0px;
    }
    
    .category h1 {
        font-size: 2.5rem;
        text-shadow: 1px 1px 2px grey;
    }
    
    .card {
        width: 16rem;
        margin-top: 45px;
        margin-left: 20px;
        display: inline-block;
    }
    
    /*styling individual cards*/
    .card-title  h5{
        font-family: 'Ledger', serif;
    
    }
    
    .card-body {
        font-family: 'Ledger', serif;
        text-align: center;
        font-style: italic;
    
    }
    /*end of styling individual cards*/
    
    
    .card-img-top {
        
    }
    
    
    
    /*styling individual images*/
    
    #wedding {
        /*margin-top: 50px;*/
    }
    
    #sunny_cupcakes {
        border-radius: 50%;
    }
    
    #plated_cupcakes {
        border-radius: 50%;
    }
    
    #multi_cupcakes {
        border-radius: 50%;
    }
    
    
    /*styling footer/section after gallery*/
    
    .return_to_top  {
        position: relative;
        top: 125px;
        text-align: center;
    }
         
    .footer {
        text-align: center;
        position: relative;
        top: 200px;
        background-color: rgb(151, 151, 231);
        opacity: .7;
        padding: 2px;
        color: white;
                
    }
    
    .footer h1 {
        font-size: 1.2rem;
    }

}  




@media all and (min-width: 360px) and (max-width: 374px) {   

    body {
        background-color: rgb(250, 250, 244);
    }
    
    /*begin navbar*/
    .navbar {
        max-width: 100%;
        width: 100% /*73.5%*/;
        margin: 0 auto;
        background-color: ivory !important;
        
    }
    
    .nav-item {
        padding: 2px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1.2rem;
            
    }
    
    .navbar-nav {
        margin: 0 auto;
        
    } 
    
    .navbar li {
        padding-right: 25px !important;
    }
    
    /*end navbar*/
    
    
    .header {
        /*background-image: url("images_final/goldenrod.png");*/
        /*background-color: rgb(250, 250, 151);*/
        background-color: #fad2fa;
    }
    
    .cover_image {
        max-width: 100%;
        height: auto;
    }
    
    .logo {
        max-width: 100%;
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }
    
    /*begin styling of opening tagline*/
    
    .main_tagline {
        text-align: center;
        margin-top: 50px;
    }
    
    .see_a_design {
        font-family: 'Satisfy', cursive;
        
    }
    
    .see_a_design h1 {
        font-size: 2rem;
    
    }
    
    .see_a_design_line {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .each_cake {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .each_cake h1 {
        font-size: 1.1rem;
    }
    
    .click_here {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .click_here h1 {
        font-size: 1rem;
    
    }
    
    .mobile_back_to_top {
        position: relative;
        top: 50px;
        text-align: center;
    }
    /*.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 100%;
        
    }*/
    
    
    .row {
        margin-left: 10px;
        margin-top: 0px;
    }
    
    /*.col-sm-3  {
       position: relative;
       left: -65px !important;
              
    }*/
    
    .category {
        text-align: center;
        padding-top: 75px;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 0px;
    }
    
    .category h1 {
        font-size: 2.5rem;
        text-shadow: 1px 1px 2px grey;
    }
    
    .card {
        width: 18rem;
        margin-top: 25px;
        display: inline-block;
        margin-left: 20px;
        margin-top: 30px;
    }
    
    /*styling individual cards*/
    .card-title  h5{
        font-family: 'Ledger', serif;
    
    }
    
    .card-body {
        font-family: 'Ledger', serif;
        text-align: center;
        font-style: italic;
    
    }
    /*end of styling individual cards*/
    
    
    .card-img-top {
        
    }
    
    
    
    /*styling individual images*/
    
    #wedding {
        /*margin-top: 50px;*/
    }
    
    #sunny_cupcakes {
        border-radius: 50%;
    }
    
    #plated_cupcakes {
        border-radius: 50%;
    }
    
    #multi_cupcakes {
        border-radius: 50%;
    }
    
    
    /*styling footer/section after gallery*/
    
    .return_to_top  {
        position: relative;
        top: 125px;
        text-align: center;
    }
         
    .footer {
        text-align: center;
        position: relative;
        top: 200px;
        background-color: rgb(151, 151, 231);
        opacity: .7;
        padding: 2px;
        color: white;
                
    }
    
    .footer h1 {
        font-size: 1.2rem;
    }

}  




@media all and (min-width: 375px) and (max-width: 413px) {   

    body {
        background-color: rgb(250, 250, 244);
    }
    
    /*begin navbar*/
    .navbar {
        max-width: 100%;
        width: 100% /*73.5%*/;
        margin: 0 auto;
        background-color: ivory !important;
        
    }
    
    .nav-item {
        padding: 2px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1.2rem;
            
    }
    
    .navbar-nav {
        margin: 0 auto;
        
    } 
    
    .navbar li {
        padding-right: 25px !important;
    }
    
    /*end navbar*/
    
    
    .header {
        /*background-image: url("images_final/goldenrod.png");*/
        /*background-color: rgb(250, 250, 151);*/
        background-color: #fad2fa;
    }
    
    .cover_image {
        max-width: 100%;
        height: auto;
    }
    
    .logo {
        max-width: 100%;
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }
    
    /*begin styling of opening tagline*/
    
    .main_tagline {
        text-align: center;
        margin-top: 50px;
    }
    
    .see_a_design {
        font-family: 'Satisfy', cursive;
        
    }
    
    .see_a_design h1 {
        font-size: 2rem;
    
    }
    
    .see_a_design_line {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .each_cake {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .each_cake h1 {
        font-size: 1.25rem;
    }
    
    .click_here {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .click_here h1 {
        font-size: 1rem;
    
    }
    
    .mobile_back_to_top {
        position: relative;
        top: 50px;
        text-align: center;
    }
    /*.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 100%;
        
    }*/
    
    
    .row {
        margin-left: 10px;
        margin-top: 0px;
    }
    
    /*.col-sm-3  {
       position: relative;
       left: -65px !important;
              
    }*/
    
    .category {
        text-align: center;
        padding-top: 75px;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 0px;
    }
    
    .category h1 {
        font-size: 2.5rem;
        text-shadow: 1px 1px 2px grey;
    }
    
    .card {
        width: 16rem;
        margin-top: 40px;
        margin-left: 43px;
        display: inline-block;
    }
    
    /*styling individual cards*/
    .card-title  h5{
        font-family: 'Ledger', serif;
    
    }
    
    .card-body {
        font-family: 'Ledger', serif;
        text-align: center;
        font-style: italic;
    
    }
    /*end of styling individual cards*/
    
    
    .card-img-top {
        
    }
    
    
    
    /*styling individual images*/
    
    #wedding {
        /*margin-top: 50px;*/
    }
    
    #sunny_cupcakes {
        border-radius: 50%;
    }
    
    #plated_cupcakes {
        border-radius: 50%;
    }
    
    #multi_cupcakes {
        border-radius: 50%;
    }
    
    
    /*styling footer/section after gallery*/
    
    .return_to_top  {
        position: relative;
        top: 125px;
        text-align: center;
    }
         
    .footer {
        text-align: center;
        position: relative;
        top: 200px;
        background-color: rgb(151, 151, 231);
        opacity: .7;
        padding: 2px;
        color: white;
                
    }
    
    .footer h1 {
        font-size: 1.2rem;
    }

}  



@media all and (min-width:414px) and (max-width: 767px) { 

    
        body {
            background-color: rgb(250, 250, 244);
        }
        
        /*begin navbar*/

        .bg-primary {
            background-color: ivory !important;
        }

        .navbar {
            width: 100% /*73.5%*/;
            margin: 0 auto;
            
        }
        
        .nav-item {
            padding: 2px;
            padding-left: 50px;
            padding-right: 50px;
            font-size: 1.2rem;
                
        }
        
        .navbar-nav {
            margin: 0 auto;
            
        } 
        
        .navbar li {
            padding-right: 25px !important;
        }
        
        /*end navbar*/
        
        
        .header {
            /*background-image: url("images_final/goldenrod.png");*/
            /*background-color: rgb(250, 250, 151);*/
            background-color: #fad2fa;
        }
        
        .cover_image {
            max-width: 100%;
            height: auto;
        }
        
        .logo {
            max-width: 100%;
            width: 100%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        /*begin styling of opening tagline*/
        
        .main_tagline {
            text-align: center;
            margin-top: 50px;
        }
        
        .see_a_design {
            font-family: 'Satisfy', cursive;
            
        }
        
        .see_a_design h1 {
            font-size: 2.5rem;
        
        }
        
        .see_a_design_line {
            max-width: 50%;
            margin: 0 auto;
            margin-top: 25px;
        }
        
        .each_cake {
            font-family: 'Ledger', serif;
            margin-top: 25px;
        }
        
        .each_cake h1 {
            font-size: 1.25rem;
        }
        
        .click_here {
            font-family: 'Ledger', serif;
            margin-top: 25px;
        }
        
        .click_here h1 {
            font-size: 1rem;
        
        }
        
        .mobile_back_to_top {
            position: relative;
            top: 50px;
            text-align: center;
        }
        /*.container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            max-width: 100%;
            
        }*/
        
        
        .row {
            margin-left: 10px;
            margin-top: 0px;
        }
        
        /*.col-sm-3  {
           position: relative;
           left: -65px !important;
                  
        }*/
        
        .category {
            text-align: center;
            padding-top: 75px;
            font-family: 'Dancing Script', cursive;
            margin-bottom: 0px;
        }
        
        .category h1 {
            font-size: 3rem;
            text-shadow: 1px 1px 2px grey;
        }
        
        .card {
            width: 18rem;
            margin-top: 25px;
            display: inline-block;
            margin-left: 50px;
            margin-top: 50px;
        }
        
        /*styling individual cards*/
        .card-title  h5{
            font-family: 'Ledger', serif;
        
        }
        
        .card-body {
            font-family: 'Ledger', serif;
            text-align: center;
            font-style: italic;
        
        }
        /*end of styling individual cards*/
        
        
        .card-img-top {
            
        }
        
        
        
        /*styling individual images*/
        
        #wedding {
            /*margin-top: 50px;*/
        }
        
        #sunny_cupcakes {
            border-radius: 50%;
        }
        
        #plated_cupcakes {
            border-radius: 50%;
        }
        
        #multi_cupcakes {
            border-radius: 50%;
        }
        
        
        /*styling footer/section after gallery*/
        
        .return_to_top  {
            position: relative;
            top: 125px;
            text-align: center;
        }
             
        .footer {
            text-align: center;
            position: relative;
            top: 200px;
            background-color: rgb(151, 151, 231);
            opacity: .7;
            padding: 2px;
            color: white;
                    
        }
        
        .footer h1 {
            font-size: 1.2rem;
        }
    
    }  



@media (min-width: 1024px) {   

    body {
        background-color: rgb(250, 250, 244);
    }
    
    /*begin navbar*/
.bg-primary  {
    background-color: #fad2fa !important;
}

.navbar-toggler {
    font-size: 2rem;
}

    .navbar {
        width: 100% /*73.5%*/;
        margin: 0 auto;
        
    }
    
    .nav-item {
        padding: 2px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 1rem;
            
    }
    
    .navbar-nav {
        margin: 0 auto;
        
    } 
    
    .navbar li {
        padding-right: 25px !important;
    }
    
    /*end navbar*/
    
    
    .header {
        /*background-image: url("images_final/goldenrod.png");*/
        /*background-color: rgb(250, 250, 151);*/
        background-color: #fad2fa;
    }
    
    .cover_image {
        max-width: 100%;
        width: 100%;
        height: auto;
        position: relative;
        top: -240px;
    }
    
    .logo {
        max-width: 100%;
        width: 30%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 2px;
        z-index: 1;
    }
    
    .main_container {
        position: relative;
        top: -200px;
    }
    /*begin styling of opening tagline*/
    
    .main_tagline {
        text-align: center;
        margin-top: 50px;
    }
    
    .see_a_design {
        font-family: 'Satisfy', cursive;
        
    }
    
    .see_a_design h1 {
        font-size: 3rem !important;
    
    }
    
    .see_a_design_line {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .each_cake {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .each_cake h1 {
        font-size: 1.5rem !important;
    }
    
    .click_here {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .click_here h1 {
        font-size: 1.25rem !important;
    
    }
    
    
    /*.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 100%;
        
    }*/
    
    
    .row {
        margin-left: 10px;
        margin-top: 0px;
    }
    
    /*.col-sm-3  {
       position: relative;
       left: -65px !important;
              
    }*/
    
    .category {
        text-align: center;
        padding-top: 75px;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 0px;
    }
    
    .category h1 {
        font-size: 3.5rem;
    }
    
    .card {
        width: 14rem;
        margin-top: 25px;
        display: inline-block;
    }
    
    /*styling individual cards*/
    .card-title  h5{
        font-family: 'Ledger', serif;
    
    }
    
    .card-body {
        font-family: 'Ledger', serif;
        text-align: center;
        font-style: italic;
    
    }
    /*end of styling individual cards*/
    
    
    .card-img-top {
        
    }
    
    
    
    /*styling individual images*/
    
    #three_tier_flower {
        width: 90%;
    }
    
    #sunny_cupcakes {
        border-radius: 50%;
        width: 70%;
    }
    
    #plated_cupcakes {
        border-radius: 50%;
        width: 70%;
    }
    
    #multi_cupcakes {
        border-radius: 50%;
        width: 70%;
    }
    
    #two_tier_anniv {
        width: 70%;

    }

    #sunflowers {
        width: 70%;

    }

    #three_tier {
        width: 70%;

    }

    #four_tier {

    }

    #one_hundred{
        width: 80%;

    }

    #chagiga {
        width: 80%;

    }

    #kindergarten1 {
        width: 80%;

    }

    #kindergarten2 {
        width: 80%;

    }
    
    #blue_flowers {
        width: 90%;
    }

    /*styling footer/section after gallery*/
    
    .return_to_top  {
        position: relative;
        top: 125px;
        text-align: center;
    }
         
    .footer {
        text-align: center;
        position: relative;
        top: 200px;
        background-color: rgb(151, 151, 231);
        opacity: .7;
        padding: 2px;
        color: white;
                
    }
    
    .footer h1 {
        font-size: 1.2rem;
    }

}  



@media all and (min-width:768px) and (max-width: 1023px) { 

    body {
        background-color: rgb(250, 250, 244);
    }
    
    .main_container {
        position: relative;
        top: -120px;
    }

    /*begin navbar*/

    .bg-primary  {
        background-color: #fad2fa !important;
    }

    .navbar-toggler {
        font-size: 3rem;
    }

    .navbar {
        width: 100% /*73.5%*/;
        margin: 0 auto;
        
        
    }
    
    .nav-item {
        padding: 2px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1rem;
            
    }
    
    .navbar-nav {
        margin: 0 auto;
        
    } 
    
    .navbar li {
        padding-right: 25px !important;
    }
    
    
    /*end navbar*/
    
    
    /*.header {
        /*background-image: url("images_final/goldenrod.png");*/
        /*background-color: rgb(250, 250, 151);
        background-color: #fad2fa;
    }*/
    
    .cover_image {
        max-width: 100%;
        height: auto;
        position: relative;
        top: -150px;
    }
    
    .logo {
        max-width: 100%;
        width: 25%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 16px;
        z-index: 1;
        opacity: .9;
    }
    
    /*begin styling of opening tagline*/
    
    .main_tagline {
        text-align: center;
        margin-top: 50px;
    }
    
    .see_a_design {
        font-family: 'Satisfy', cursive;
        
    }
    
    .see_a_design h1 {
        font-size: 3rem !important;
    
    }
    
    .see_a_design_line {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .each_cake {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .each_cake h1 {
        font-size: 1.5rem !important;
    }
    
    .click_here {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .click_here h1 {
        font-size: 1.25rem !important;
    
    }
    
      
    .row {
        margin-left: 10px;
        margin-top: 0px;
    }
    
    .col-sm-3  {
       position: relative;
       left: 25px !important;              
    }

    .col-sm-4  {
        position: relative;
        left: 50px !important;              
     }
    
    .category {
        text-align: center;
        padding-top: 75px;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 0px;
    }
    
    .category h1 {
        font-size: 2.75rem;
    }
    
    .card {
        width: 12rem;
        margin-top: 25px;
       display: inline-block;
    }
    
    /*styling individual cards*/
    .card-title  h5{
        font-family: 'Ledger', serif;
    
    }
    
    .card-body {
        font-family: 'Ledger', serif;
        text-align: center;
        font-style: italic;
    
    }
    /*end of styling individual cards*/
    
    
    .card-img-top {
        
    }
    
    
    
    /*styling individual images*/
    
    #three_tier_flower {
        width: 90%;
    }
    
    #sunny_cupcakes {
        border-radius: 50%;
        width: 75%;
    }
    
    #plated_cupcakes {
        border-radius: 50%;
        width: 75%;
    }
    
    #multi_cupcakes {
        border-radius: 50%;
        width: 75%;
    }
    
    #two_tier_anniv {
        width: 70%;

    }

    #sunflowers {
        width: 70%;

    }

    #three_tier {
        width: 70%;

    }

    #four_tier {

    }

    #one_hundred{
        width: 90%;

    }

    #chagiga {
        width: 90%;

    }

    #kindergarten1 {
        width: 90%;

    }

    #kindergarten2 {
        width: 90%;
    }
    
    #blue_flowers {
        width: 100%;
    }

    #pink_flowers {
        width: 100%;
    }

    #white_flowers {
        width: 100%;
        
    }
    
    #tractor {
        width: 100%;
    }
    
   
    /*styling footer/section after gallery*/
    
    .return_to_top  {
        position: relative;
        top: 125px;
        text-align: center;
    }
         
    .footer {
        text-align: center;
        position: relative;
        top: 200px;
        background-color: rgb(151, 151, 231);
        opacity: .7;
        padding: 2px;
        color: white;
                
    }
    
    .footer h1 {
        font-size: 1.2rem;
    }

}  