


/*START HERE TO COVER UP PURPLE IN HEADER AND TO MOVE COVER IMAGE HIGHER UP!*/
/* should be starting at my screen size of 1920 px  @media (min-width: 1920px) {*/

    
    body {
        max-width: 2000px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        background-color: rgb(250, 250, 244);
    }
        /*begin navbar*
        .navbar {
            width: 100%;
            margin: 0 auto;
                   
        }
        
        .nav-item {
            padding: 2px;
            padding-left: 50px;
            padding-right: 50px;
            font-size: 1.2rem;
                
        }
        
        .navbar-nav {
            margin: 0 auto;
            
        } 
        
        .navbar li {
            padding-right: 25px;
        }
        
        .bg-primary  {
            background-color: ivory !important;
        }
        /*end navbar*/
        
        .cover_image {
            max-width: 100%;
            height: auto;
        }
        
        .logo_large {
            display: none;
        }
    
        .logo_mobile {
            display: inline;
            max-width: 100%;
            width: 100%;
        }
        
        /*begin styling of opening tagline*/
        
        .main_tagline {
            text-align: center;
            
        }
        
        .see_a_design {
            font-family: 'Satisfy', cursive;
            
        }
        
        .see_a_design h1 {
            font-size: 2rem;
        
        }
        
        .see_a_design_line {
            max-width: 50%;
            margin: 0 auto;
            margin-top: 25px;
        }
        
        .each_cake {
            font-family: 'Ledger', serif;
            margin-top: 25px;
        }
        
        .each_cake h1 {
            font-size: 1.25rem;
        }
        
        .click_here {
            font-family: 'Ledger', serif;
            margin-top: 25px;
        }
        
        .click_here h1 {
            font-size: 1rem;
        
        }
        
        .mobile_back_to_top {
            position: relative;
            top: 50px;
            text-align: center;
        }
        /*.container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            max-width: 100%;
            
        }*/
        
        
        .row {
            margin-left: 10px;
            margin-top: 0px;
        }
        
        /*.col-sm-3  {
           position: relative;
           left: -65px !important;
                  
        }*/
        
        .category {
            text-align: center;
            padding-top: 75px;
            font-family: 'Dancing Script', cursive;
            margin-bottom: 0px;
        }
        
        .category h1 {
            font-size: 2.5rem;
            text-shadow: 1px 1px 2px grey;
        }
        
        .card {
            width: 16rem;
            margin-top: 45px;
            margin-left: 20px;
            display: inline-block;
        }
        
        /*styling individual cards*/
        .card-title  h5{
            font-family: 'Ledger', serif;
        
        }
        
        .card-body {
            font-family: 'Ledger', serif;
            text-align: center;
            font-style: italic;
        
        }
        /*end of styling individual cards*/
        
        
        .card-img-top {
            
        }
        
        
        
        /*styling individual images*/
        
        #wedding {
            /*margin-top: 50px;*/
        }
        
        #sunny_cupcakes {
            border-radius: 50%;
        }
        
        #plated_cupcakes {
            border-radius: 50%;
        }
        
        #multi_cupcakes {
            border-radius: 50%;
        }
        
        
        /*styling footer/section after gallery*/
        
        .return_to_top  {
            position: relative;
            top: 125px;
            text-align: center;
        }
             
        .footer {
            text-align: center;
            position: relative;
            top: 200px;
            background-color: rgb(151, 151, 231);
            opacity: .7;
            padding: 2px;
            color: white;
                    
        }
        
        .footer h1 {
            font-size: 1.2rem;
        }
    
   
    @media (min-width: 1200px)  {

body {
    background-color: rgb(250, 250, 244);
}
    
    /*begin navbar
.bg-primary  {
    background-color: white;
}

.navbar-toggler {
    font-size: 2rem;
}*/

   
.cover_image {
    position: relative !important;
    top: 25px !important;
}
            
.logo_large{
    max-width: 100%;
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
    left: -25px;
    opacity: .9;
}

.logo_mobile {
    display: none !important;
}


/*begin styling of opening tagline*/

.main_container {
    position: relative !important;
    top: 400px !important;
    
}

.see_a_design {
    font-family: 'Satisfy', cursive;
    
}

.see_a_design h1 {
    font-size: 3rem !important;

}

.see_a_design_line {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 25px;
}

.each_cake {
    font-family: 'Ledger', serif;
    margin-top: 25px;
}

.each_cake h1 {
    font-size: 1.5rem !important;
}

.click_here {
    font-family: 'Ledger', serif;
    margin-top: 25px;
}

.click_here h1 {
    font-size: 1.25rem !important;

}


/*.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    
}*/


.row {
    margin-left: 10px;
    margin-top: 0px;
}

/*.col-sm-3  {
   position: relative;
   left: -65px !important;
          
}*/

.category {
    text-align: center;
    padding-top: 75px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 0px;
}

.category h1 {
    font-size: 3.5rem;
}

.card {
    width: 14rem;
    margin-top: 25px;
    display: inline-block;
}

/*styling individual cards*/
.card-title  h5{
    font-family: 'Ledger', serif;

}

.card-body {
    font-family: 'Ledger', serif;
    text-align: center;
    font-style: italic;

}
/*end of styling individual cards*/


.card-img-top {
    
}



/*styling individual images*/

#three_tier_flower {
    width: 90%;
}

#sunny_cupcakes {
    border-radius: 50%;
    width: 70%;
}

#plated_cupcakes {
    border-radius: 50%;
    width: 70%;
}

#multi_cupcakes {
    border-radius: 50%;
    width: 70%;
}

#two_tier_anniv {
    width: 70%;

}

#sunflowers {
    width: 70%;

}

#three_tier {
    width: 70%;

}

#four_tier {

}

#one_hundred{
    width: 80%;

}

#chagiga {
    width: 80%;

}

#kindergarten1 {
    width: 80%;

}

#kindergarten2 {
    width: 80%;

}

#blue_flowers {
    width: 90%;
}

/*styling footer/section after gallery*/

.return_to_top  {
    position: relative;
    top: 125px;
    text-align: center;
}
     
.footer {
    text-align: center;
    position: relative;
    top: 200px;
    background-color: rgb(151, 151, 231);
    opacity: .7;
    padding: 2px;
    color: white;
            
}

.footer h1 {
    font-size: 1.2rem;

}  

    @media (min-width: 768px)  {
        
    body {
        background-color: ivory;
    }
     
    .cover_image {
        position: relative;
        top: -184.5px;
    }
  
    .logo_large{
        display: none !important;
        width: 60%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 30px;
        z-index: 1;
        opacity: .8;
        
    }
    
    .logo_mobile {
        width: 31%;
        position: relative;
        left: 0px;
        top: 0px; 
        z-index: 1;
        opacity: .8;
        
    }

    .main_container {
        position: relative !important;
        top: 325px !important;
        
    }
    /*begin styling of opening tagline*/
    
    .main_tagline {
        text-align: center;
        
    }
    
    .see_a_design {
        font-family: 'Satisfy', cursive;
        
    }
    
    .see_a_design h1 {
        font-size: 4rem;
    
    }
    
    .see_a_design_line {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .each_cake {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .each_cake h1 {
        font-size: 2rem;
    }
    
    .click_here {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .click_here h1 {
        font-size: 1.5rem;
    
    }
    
    .mobile_back_to_top {
        position: relative;
        top: 50px;
        text-align: center;
    }

    /*.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 100%;
        
    }*/
    
    
    .row {
        margin-left: 100px;
        margin-top: 50px;
    }
    
    .col-sm-3  {
       position: relative;
       left: -65px !important;
       
        
    }
    
    .category {
        text-align: center;
        padding-top: 75px;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 30px;
    }
    
    .category h1 {
        font-size: 3.5rem;
    }
    
    .card {
        width: 10rem;
        margin-top: 25px;
        display: inline-block;
    }
    
    /*styling individual cards*/
    .card-title  h5{
        font-family: 'Ledger', serif;
    
    }
    
    .card-body {
        font-family: 'Ledger', serif;
        text-align: center;
        font-style: italic;
    
    }
    /*end of styling individual cards*/
    
    
    .card-img-top {
        
    }
    
    
    
    /*styling individual images*/
    
    #wedding {
        /*margin-top: 50px;*/
    }
    
    #sunny_cupcakes {
        border-radius: 50%;
    }
    
    #plated_cupcakes {
        border-radius: 50%;
    }
    
    #multi_cupcakes {
        border-radius: 50%;
    }
    
    
    /*styling footer/section after gallery*/
    
    .return_to_top  {
        position: relative;
        top: 125px;
        text-align: center;
    }
         
    .footer {
        text-align: center;
        position: relative;
        top: 200px;
        background-color: rgb(151, 151, 231);
        opacity: .7;
        padding: 2px;
        color: white;
                
    }
    
    .footer h1 {
        font-size: 1.2rem;
    }
    
}















