


/*START HERE TO COVER UP PURPLE IN HEADER AND TO MOVE COVER IMAGE HIGHER UP!*/
/* should be starting at my screen size of 1920 px  @media (min-width: 1920px) {*/

    
    body {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        background-color: rgb(250, 250, 244);
    }

    .logo-joined {
        display: none;
    }

    .cover-image {
        max-width: 100%;
        height: auto;
    }
    
    .logo-mobile {
        max-width: 100%;
        width: 100%;
    }   
    
    .main_container {
        text-align: center;
        margin-top: 50px;
    }
    /*begin styling of opening tagline*/
    
    .main_tagline {
        text-align: center;
    }
    
    .see_a_design {
        font-family: 'Satisfy', cursive;
        
    }
    
    .see_a_design h1 {
        font-size: 2rem;
    
    }
    
    .see_a_design_line {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .each_cake {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .each_cake h1 {
        font-size: 1.25rem;
    }
    
    .click_here {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .click_here h1 {
        font-size: 1rem;
    
    }
    
    .mobile_back_to_top {
        position: relative;
        top: 50px;
        text-align: center;
    }
    /*.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 100%;
        
    }*/
    
    
    .row {
        margin-left: 10px;
        margin-top: 0px;
    }
    
    /*.col-sm-3  {
       position: relative;
       left: -65px !important;
              
    }*/
    
    .category {
        text-align: center;
        padding-top: 75px;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 0px;
    }
    
    .category h1 {
        font-size: 2.5rem;
        text-shadow: 1px 1px 2px grey;
    }
    
    .card-preview {
        display: none !important;
    }

    .card {
        width: 16rem;
        margin-top: 45px;
        margin-left: 20px;
        display: inline-block;
    }
    
    /*styling individual cards*/
    .card-title  h5 {
        font-family: 'Ledger', serif;
    
    }
    
    .card-body {
        font-family: 'Ledger', serif;
        text-align: center;
        font-style: italic;
    
    }
    /*end of styling individual cards*/
    
    
    .card-img-top {
        
    }
         
    /*styling individual images*/
    
    #wedding {
        /*margin-top: 50px;*/
    }
    
    #sunny-cupcakes {
        border-radius: 50%;
    }
    
    #plated-cupcakes {
        border-radius: 50%;
    }
    
    #multi-cupcakes {
        border-radius: 50%;
    }
    
    
    /*styling footer/section after gallery*/
    
    .return_to_top  {
        position: relative;
        top: 125px;
        text-align: center;
    }
         
    .footer {
        text-align: center;
        position: relative;
        top: 200px;
        background-color: rgb(151, 151, 231);
        opacity: .7;
        padding: 2px;
        color: white;
    }
    
    .footer h1 {
        font-size: 1.2rem;
    }

    
   
    @media (min-width: 1200px)  {

body {
    background-color: rgb(250, 250, 244);
}

.container {
    position: relative;
    left: 50px;
}

.navbar li {
    padding: 10px;
}

.nav-item a:hover {
    background-color: rgb(226, 235, 177);
}
   
.logo-mobile {
    display: none;
}

.logo-joined {
    max-width: 100%; 
}

.cover-image {
    display: none;
}

/*begin styling of opening tagline*/

.main_container {
    position: relative;
    top: 400px;
}

.see_a_design {
    font-family: 'Satisfy', cursive;
    
}

.see_a_design h1 {
    font-size: 3rem !important;

}

.see_a_design_line {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 25px;
}

.each_cake {
    font-family: 'Ledger', serif;
    margin-top: 25px;
}

.each_cake h1 {
    font-size: 1.5rem !important;
}

.click_here {
    font-family: 'Ledger', serif;
    margin-top: 25px;
}

.click_here h1 {
    font-size: 1.25rem !important;

}


/*.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    
}*/


.row {
    margin-left: 10px;
    margin-top: 0px;
}

/*.col-sm-3  {
   position: relative;
   left: -65px !important;
          
}*/

.category {
    text-align: center;
    padding-top: 75px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 0px;
}

.category h1 {
    font-size: 3.5rem;
}

.card {
    width: 14rem;
    margin-top: 25px;
    display: inline-block;
}

/*styling individual cards*/

.card-preview {
    display: block !important;
}

.card-title {
    font-size: 1rem;
    font-style: normal;
}

.card-title  h5 {
    font-family: 'Ledger', serif;
}

.card-body {
    font-family: 'Ledger', serif;
    text-align: center;
    font-style: italic;

}
/*end of styling individual cards*/

.card-img-top {
    transition: transform .2s; /* Animation */
}

.card-img-top:hover {
    transform: scale(1.2);
}



/*styling individual images*/

#multicolor-flower {
    width: 90%;
}

#sunny-cupcakes {
    border-radius: 50%;
    width: 70%;
}

#plated-cupcakes {
    border-radius: 50%;
    width: 70%;
}

#multi-cupcakes {
    border-radius: 50%;
    width: 70%;
}

#two-tier-anniv {
    width: 70%;

}

/*#sunflowers {
    width: 70%;
}*/

#three-tier {
    width: 70%;

}

#four-tier {

}

#one-hundred{
    width: 80%;

}

#chagiga {
    width: 80%;

}

#kindergarten1 {
    width: 80%;

}

#kindergarten2 {
    width: 80%;

}

#blue-flowers {
    width: 90%;
}

/*styling footer/section after gallery*/

.return_to_top  {
    position: relative;
    top: 125px;
    text-align: center;
}
     
.footer {
    text-align: center;
    position: relative;
    top: 200px;
    background-color: rgb(151, 151, 231);
    opacity: .7;
    padding: 2px;
    color: white;
            
}

.footer h1 {
    font-size: 1.2rem;
}

}

    @media (min-width: 768px)  {
        
    body {
        background-color: ivory;
    }
   
    .logo-joined {
        max-width: 100%; 
    }
    
    #style-element  {
        display: block;
    }

    .cover-image {
        display: none !important;
    }
    
    .logo-mobile {
        display: none !important;
    }
    
    .main_container {
        position: relative !important;
        top: 0px !important;
        margin-top: 5rem;
        text-align: center;
    }
   
    /*begin styling of opening tagline*/
        
    .see_a_design {
        font-family: 'Satisfy', cursive;
        
    }
    
    .see_a_design h1 {
        font-size: 4rem;
    
    }
    
    .see_a_design_line {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .each_cake {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .each_cake h1 {
        font-size: 2rem;
    }
    
    .click_here {
        font-family: 'Ledger', serif;
        margin-top: 25px;
    }
    
    .click_here h1 {
        font-size: 1.5rem;
    
    }
    
    .mobile_back_to_top {
        position: relative;
        top: 50px;
        text-align: center;
    }

    /*.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 100%;
        
    }*/
    
    
    .row {
        margin-left: 100px;
        margin-top: 50px;
    }
    
    .col-sm-3  {
       position: relative;
       left: -65px !important;
       
        
    }
    
    .category {
        text-align: center;
        padding-top: 75px;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 30px;
    }
    
    .category h1 {
        font-size: 3.5rem;
    }
    
    .card {
        width: 12rem;
        margin-top: 25px;
        display: inline-block;
    }
    
    /*styling individual cards*/
    .card-title  h5{
        font-family: 'Ledger', serif;
    
    }
    
    .card-body {
        font-family: 'Ledger', serif;
        text-align: center;
        font-style: italic;
    
    }
    /*end of styling individual cards*/
    
    
    .card-img-top {
        
    }
    
    
    
    /*styling individual images*/
    
    #sunny_cupcakes {
        border-radius: 50%;
    }
    
    #plated_cupcakes {
        border-radius: 50%;
    }
    
    #multi_cupcakes {
        border-radius: 50%;
    }
    
    
    /*styling footer/section after gallery*/
    
    .return_to_top  {
        position: relative;
        top: 125px;
        text-align: center;
    }
         
    .footer {
        text-align: center;
        position: relative;
        top: 200px;
        background-color: rgb(151, 151, 231);
        opacity: .7;
        padding: 2px;
        color: white;
                
    }
    
    .footer h1 {
        font-size: 1.2rem;
    }
    
}















